$lightcolor: #af9e9e;
.clearboth{
    clear:both;
}
th {
    padding: 10px;
}
#header{
    width: 100%;
    background-color: rgb(58,49,49);
    margin: 0 auto;
    text-align: -webkit-center;
    a {
        text-decoration: none;
        color: $lightcolor;
    }
}
#margin-header {
    width:60%;
    text-align: left;
}
#divheader-left {
    float: left;
    width: 50%;
    h1 {
        color: #af9e9e;
    }
    p {
        color: #af9e9e;
    }
}
#divheader-right {
    float:right;
    width: 30%;
}
#spaceheader-right {
    height: 100px;
}
#inputsearch {
    width: 200px;
}