$defaultcolor: #464646;
$textcolor: rgb(177,168,50);
.clearboth {
    clear: both;
}
.linkcolor {
    color: $textcolor;
}
#body {
    text-align : -webkit-center;
}
#marginbody{
    margin: 30px;
    width: 1100px;
}
#bodyleft {
    float:left;
    background-color: $defaultcolor;
    width: 470px;
    height: 300px;
}
#bodyright {
    float:right;
    width: 630px;
    height: 300px;
    background-color: #666666;
    h1 {
        top: 100px;
        position: relative;
        color: white;
    }
}
#bodysecond-left {
    float:left;
    width: 40%;
    text-align: left;
}
#bodysecond-right {
    float: right;
    width: 600px;
}
.imagediv {
    height: 130px;
    margin: 20px 20px 20px;
    width: 130px;
    background-color: $defaultcolor;

}
#listimage {
    width: 510px;
    padding: 2px 2px 2px 2px;
    border: $defaultcolor;
}
.linkcolor {
    color: rgb(177,168,50);
    text-align: left;
}
#bodythird {
    text-align: initial;
}
#imageleft{
    float:left;
}
#imageright{
    float: right;
}
#imagerightright{
    float:right;
}
#imagerightleft{
    float: left;
}
#spacebody {
    height: 270px;
}
#bodythird {
    text-align: initial;
}
#leftbodythird {
    float:left;
    width: 50%;
}
#fromtheblog {
    float: left;
    width: 48%;
    text-align: left;
}
#quicklink {
    float: right;
    width: 50%;
    text-align: left;
}
#aboutus {
    float: right;
    width: 47%;
}
#aboutusleft {
    float: left;
    width: 170px;
}
#aboutusright {
    float: right;
    width: 320px;
    text-align: left;
}
#aboutusendmore {
    color: $textcolor;
    text-align: right;
}