$lightcolor: #af9e9e;
.header{
    width: 100%;
    background-color: rgb(58,49,49);
    margin: 0 auto;
    text-align: -webkit-center;
    a {
        text-decoration: none;
        color: $lightcolor;
    }
    .margin-header {
        width:60%;
        text-align: left;
        .clearboth{
            clear:both;
        }
        .divheader-left {
            float: left;
            width: 50%;
            h1 {
                color: $lightcolor;
            }
            p {
                color: $lightcolor;
            }
        }
        .divheader-right {
            float:right;
            width: 30%;
            .spaceheader-right {
                height: 100px;
            }
            .inputsearch {
                width: 200px;
            }
        }
        th {
            padding: 10px;
        }
    }
}