$lightcolor: #af9e9e;
.header{
    width: 100%;
    background-color: rgb(58,49,49);
    margin: 0 auto;
    text-align: -webkit-center;
    a {
        text-decoration: none;
        color: $lightcolor;
    }
    .margin-header {
        .blockheader{
            display: flex;
            .divheader-left {
                width: 50%;
                h1 {
                    color: $lightcolor;
                }
                p {
                    color: $lightcolor;
                }
            }
            .divheader-right {
                width: 50%;
                .spaceheader-right {
                    height: 100px;
                }
                .blockinput{
                    text-align: end;
                    .inputsearch {
                        width: 200px;
                    }
                    input {
                        height: 20px;
                    }
                    .submitbutton {
                        height: 26px;
                        background: rgb(2,0,36);
                        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(224,255,242,1) 0%, rgba(20,215,157,1) 40%, rgba(255,235,0,1) 100%);
                        
                    }
                }
            }
        }
        width:1100px;
        text-align: left;
        
        .spacediv{
            width: 20%;
        }
        
        th {
            padding: 10px;
        }
    }
}